var decideSegmentationItemColor = function(index, selectedIndex) {
  var colorStr = "#999";
  if (index == selectedIndex) {
    colorStr = "#333";
  }
  return colorStr;
}

var decideDemandItemFontColor = function(index, selectedIndex) {
  var colorStr = "#333";
  if (index == selectedIndex) {
    colorStr = "#f33";
  }
  return colorStr;
}

var decideTimeItemFontColor = function(index, selectedIndex) {
  var colorStr = "#333";
  if (index == selectedIndex) {
    colorStr = "#f33";
  }
  return colorStr;
}

var decideHiddenStatus = function(index, selectedIndex) {
  if (index == selectedIndex) {
    return false;
  } else {
    return true;
  }
  return false;
}



module.exports.decideSegmentationItemColor = decideSegmentationItemColor;
module.exports.decideDemandItemFontColor = decideDemandItemFontColor;
module.exports.decideTimeItemFontColor = decideTimeItemFontColor;
module.exports.decideHiddenStatus = decideHiddenStatus;
module.exports.testColor = "#0f0";